.cities{
    background: #eee;
}

.list-group-item:hover{
    background: lightblue;
    cursor: pointer;
}

.box{
    margin: 15px;
    padding: 15px;
    border: 2px solid #dcdcdc;
    border-radius: 5px;
}

.card{
    background: #007bff;
    color: #fff;
    margin:0 5px;
    border-radius: 0;
}

.favorable{
    background:green;
    padding:5px;
}

.moderate{
    background: yellow;
    padding:5px;
}

.severe{
    background: red;
    padding:5px;
}