body{
    margin: 0;
    padding:0;
    color: #689;
    background: #ddd;
}

.header{
    position: fixed;
    width:100%;
    z-index: 10;
    padding: 0;
    margin: 0;
}

h3{
    padding: 15px 0 0 0;
}

hr{
    margin: 15px 0;
    padding: 0;
}

.card{
    float: left;
    clear: both;
    margin: 0 10px 0 0;
}

.container{
    padding: 15px;
    margin: 50px auto auto auto;
}

.navbar{
    padding: 0;
    margin: 0;
    justify-content: space-evenly;
}

.navbar-header{
    background: #669;
    padding:10px;
    margin: 0 0 0 2%;
}

.navbar-collapse{
    padding: 3px;
}

.navbar-brand{
    opacity: 0.80;
    font-weight: bolder;    
    transition: text-shadow 1s, opacity ease-in-out 1s;
}

.navbar-brand:hover{
    text-shadow: 1px 1px 12px #fff;
    opacity: 1;
}

.footer{
    position: fixed;
    padding: 10px;
    background: #343a40;
    bottom: 0;
    width: 100%;
    z-index: 10;
    border-top: 5px solid #899;
    
}

.figure{
    margin: 5px;
    box-sizing: border-box;
    position: relative;

}

.figure-img{
    float: left;
    clear: both;
}

.figure-caption{
    color: #fff;
    font-weight: bolder;
    position: absolute;
    bottom:20px;
    padding: 5px;
    background: #699;
    text-align: center;
    width: 100%;
}

@media only screen and (max-width: 991px) {
    .navbar-nav {
        flex-direction: initial;
        margin: auto;
        text-align: center;
    }

    .navbar-header{
        text-align: center;
        margin: auto;
        width:100%;
    }

    .container{
        margin: 95px auto auto auto ;
    }

  }